html, body {
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.headlines {
	margin: 0 auto;
	max-width: 940px; 
	padding: 0 10px; 
}

/* Header */
.header {

  height: 800px;   
  text-align: center; 
  background-image: url("educational1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto    
}

.header .headlines {
	position: relative;
	top: 200px;
 
}

.header h1 {
	font-size: 30px;
	line-height: 100px; 
	margin-top: 0;
	margin-bottom: 80px;
    color: black;
    text-shadow: 5px 5px 3px black;
   position: relative;
  
}

@media (min-width:850px) {
	.header h1 {
		font-size: 20px;
	}
}

.nav {
    
  margin: 10px;
  padding: 0px;
  list-style-type: none;
  width: auto;
  position: relative;
  display: block;
  height: 36px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent url("bg.jpg") repeat-x top left;
  font-family: "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
    
}

.nav li {
  display: block;
  float: left;
  text-align: center;
  margin: 0;
  pading: 0px;
}
.nav li a {
  display: block;
  float: left;
  color: #999999;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 20px 0 20px;
  height: 24px;
}
.nav li a:hover {
  color: #FFFFFF;
  background: transparent url("over.jpg") no-repeat top right;
}

