


html, body {
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.headlines {
	margin: 0 auto;
	padding: 0 10px; 
    color: white;
}

/* Header */
.header {

  height: 800px;   
  text-align: center; 
  background-image: url("educational1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;   
   
}

.header .headlines {
	position: relative;
	top: 200px;
 
}

.header h1 {
	line-height: 100px; 
	margin-top: 0;
	margin-bottom: 80px;
    color: white;
    text-shadow: 5px 5px 3px black;
   position: relative;
  
}

@media (min-width:850px) {
	.header h1 {
		font-size: 50px;
	}
    
    .header p{
        
        font-size: 20px;
        font-style: oblique;
    }
}

main{
    
    
    background-color: black;
    color: white;
    
}

.nav {
    
  font-size: 32px;
    overflow: hidden;
    background-color: teal;
    color: white;
}

.nav li {

}
.nav li a {
    
    list-style-type: none;
    text-decoration: non;
    display: block;
    font-size: 10px;

}
.nav li a:hover {
    
    list-style-type: none;
    text-decoration: none;
    background-color: black;
    
    
}


#mainimg{
    
    width: 700px;
    height: 500px;
    float:left;
    
    
}

img{
    display: block;
    height: auto; 
    width: auto; 
    max-width: 700px; 
    max-height: 500px;
    border: 3px solid teal;
}

footer {
   position: relative;
  height: 30px;
  clear:both;
background-color: black;
    color: white;
    
}

.btn{
    
   margin: 0 auto;
    
}

.btn #login {
    
    text-align: right !important;
    
}
